* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #ffffff10;
    backdrop-filter: blur(3px);
}

.container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #363062;
    margin: 50px auto 10px;
}

.textarea {
    width: 100%;
    height: 150px;
    background-color: #ffffff50;
    border: 3px solid #363062;
    border-radius: 5px;
    margin: 0 auto 25px;
    padding: 10px;
    resize: none;
    color: #363062;
}
.textarea:focus {
    outline: none;
}

.keyboard_wrapper {
    display: block;
    border: 3px solid #363062;
    padding: 10px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff35;
    border-radius: 5px;
    user-select: none;
    gap: 1px;
}

.key {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 3px;
    color: #e9d5da;
    background-color: #827397;
    border: 0.5px solid #363062;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key span {
    pointer-events: none;
}
.key.uppercase {
    text-transform: uppercase;
}
.key:hover {
    background-color: #4d4c7d;
    box-shadow: 0px 0px 3px rgba(54, 48, 98, 0.8);
}
.key:not([data-id='ShiftLeft']):active,
.key.active {
    color: #363062;
    background-color: rgba(173, 255, 47, 0.6);
    box-shadow: 0px 0px 3px rgba(54, 48, 98, 0.8);
}

div[data-id='Backspace'] {
    width: 100px;
    background-color: #363062;
}
div[data-id='Tab'] {
    width: 60px;
    background-color: #363062;
}
div[data-id='CapsLock'] {
    width: 75px;
    background-color: #363062;
}
div[data-id='ShiftLeft'] {
    width: 105px;
    background-color: #363062;
}
div[data-id='ControlLeft'] {
    width: 80px;
    background-color: #363062;
}
div[data-id='Delete'] {
    background-color: #363062;
    width: 65px;
}
div[data-id='Enter'] {
    width: 100px;
    background-color: #363062;
}
div[data-id='ShiftRight'] {
    width: 123px;
    background-color: #363062;
}
div[data-id='ControlRight'] {
    width: 79px;
    background-color: #363062;
}
div[data-id='Space'] {
    width: 256px;
}
div[data-id='MetaLeft'] {
    width: 60px;
    background-color: #363062;
}
div[data-id='AltLeft'] {
    width: 50px;
    background-color: #363062;
}
div[data-id='AltRight'] {
    width: 51px;
    background-color: #363062;
}
div[data-id='ArrowLeft'] {
    background-color: #363062;
}
div[data-id='ArrowDown'] {
    background-color: #363062;
}
div[data-id='ArrowUp'] {
    background-color: #363062;
}
div[data-id='ArrowRight'] {
    background-color: #363062;
}

p {
    color: #e9d5da;
    margin: 30px auto 0;
}
.pOs {
    margin-top: 0;
    margin-bottom: 50px;
}
.author {
    margin-top: 10px;
    font-style: italic;
}

.gitlogo {
    width: 50px;
    height: 50px;
    margin: 60px auto 5px;
}
.gitlogo a {
    transition: all 0.3s ease-in-out;

    fill: #e9d5da;
}
.gitlogo a:hover {
    cursor: pointer;
    fill: rgba(173, 255, 47, 0.6);
}
